body {
    background-image: url('https://dev-to-uploads.s3.amazonaws.com/i/j86zlomfaf78wel7lh6c.png');
   }
   
   h1{
       text-align: center;
       color: #26ab65;
       margin-top: 12%;
       margin-left: 5%;
   }
