body {
    background-image: url('https://dev-to-uploads.s3.amazonaws.com/i/brm2ce1pq1yu23ifc7wi.jpg');
   }
   
   h1{
       text-align: center;
       color: #26ab65;
       margin-top: 12%;
       margin-left: 5%;
   }